body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3F4F44;
    font-family: Arial, sans-serif;
    color: #DCD7C9;
    overflow: hidden;
}

h1 {
    color: #DCD7C9;
}

audio {
    display: none;
}

#replayButton {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #A27B5C;
    color: #DCD7C9;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.2s;
}

#replayButton:hover {
    transform: scale(1.1);
}

#replayButton:active::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: ripple 0.2s infinite;
}

@keyframes ripple {
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}

.trail {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    pointer-events: none;
    animation: trail 0.5s linear;
}

@keyframes trail {
    to {
        transform: scale(2);
        opacity: 0;
    }
}